@charset "UTF-8";
select,extarea{cursor:pointer;}
form#write {width: 808px;}
#write>select {
	width: 120px;
	height: 27px;
	margin: 15px 0 15px 10px;
	text-align: center;
}
#write input[type="button"]:not(#notice){
	width: 100px;
	height: 27px;
	float: right;
	margin: 15px 11px 15px 0;	
	border: none;
}
#write .outBox,textarea{
	font-size: 15px;
	font-family:'Malgun Gothic';
}
.areaHelpBox,.outBox{
	width: 786px;
	height: 30px;
	margin: 0 10px 0 10px;
	text-indent: 10px;
	border: 1px solid lightgray;
	display: block;
	padding: 0;
}
textarea{
	width: 804px;
	height: 700px;
}
#notice{
	width: 100px;
	height: 27px;
	margin: 15px 0 15px 11px;
	border: none;		
}