@charset "UTF-8";
body{
	position: relative;
	width: 100%;
	height: 100%;
}
#bodyBox{
	width: 350px;
	height: 1000px;
	margin: 0 auto;
}
h3{
	text-align: center;
	color: deepskyblue;
}
h5{
	font-size: 15px;
	margin: 10px 0 0 0;
}
form{
	width: 100%;
	margin: 0 auto;
}
.box{width: 350px;}
input,select{font-size: 14px; text-indent: 10px;}
input{
	width: 346px;
	height: 35px;
	padding: 0;
	margin-top: 7px;
	text-indent: 10px;	
}
select{
	width: 350px;
	height: 39px;
	margin-top: 7px;
}
#agency{
	width: 100px;
	text-align: center;
	margin-right: 5px;
}
input[type="tel"]{
	width: 235px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}		
input,select{cursor:pointer;}
.box span{
	font-size: 13px;
	display: block;
}
div#footer>input[type="button"]{
	width: 100%;
	height: 35px;
	margin-top: 7px;
} 