@charset "UTF-8";

#topNav{
	position:sticky;
	top: 0px;
	width: 1078px;
	height: 39px;
	margin-bottom: 30px;
	border: 1px solid #dcdcde;
	border-bottom: 0;
	background-color: #3c434a;
}
#topNav, input{cursor:pointer;}
#topNav a{text-decoration: none; color: inherit;}
#topNav li:hover{border-bottom-color: violet;}
#topNav ul{list-style: none; height: 40px; width: 100%;}
ul.topList > li{	
	position: relative;
	width: 268.75px;
	height: 38px;
	border-bottom: 2px solid lightyellow;
	border-right: 1px solid #dcdcde;
	float: left;
	text-align: center;
}
.topList .topList-depth{
	display: none;
	position: absoulte;
	text-align: center;
	margin-top: 4px;
}
.topList > li > a{
	display: block;
	font-size: 18px;
	padding: 6px 0;
}
.topList .topList-depth a{
	display: block;
	font-size: 15px;
	background-color: #586f87;
	padding-bottom: 7px;
}
.topList > li:last-child{border-right : none;}
.topList-depth > li:hover{color: violet;}
.topList > li:hover .topList-depth{display:block;}
.topList-depth > li:first-child > a{padding-top : 7px;} 