@charset "UTF-8";

body{
margin :35%;
margin-top :5%;
height :100%;
font-family: 'Jua', sans-serif;
background :#F7F5F2;
}


h1 {text-align :center;}
label {display : block; padding :5px;}


input[type=text] {
background-color: rgba( 255, 255, 255, 0.5 ); 
height : 20px; 
border : 1px solid #F7F5F2; 
border-radius :30px;
padding:10px;
}
input[type=password] {
background-color: rgba( 255, 255, 255, 0.5 );
border : 1px solid #F7F5F2; 
border-radius :30px;
padding : 10px;
height : 20px; 
}
input[type=email] {
background-color: rgba( 255, 255, 255, 0.5 );
border : 1px solid F7F5F2; 
border-radius :30px;
padding: 10px;
height : 20px; 
}
input:focus {
background-color: rgba( 255, 255, 255, 0.5 );
border : none;}
label span {
display : block; 
width : 110px;
text-align :left;
padding-top:10px;
padding-bottom:10px;
padding-left :0px;
} 
.wrapper {
text-align :center; 
}
#bt{
background-color : #FF8C32;
padding: 10px;
border-radius: 10px; 
border:none;
font-family: 'Jua', sans-serif;
width: 100px;
height: 40px;
font-size: 1rem;
}
#bt:hover{
cursor: pointer;
background-color:#FFC7C7;

}