@charset "UTF-8";
html,body{
	margin:0; padding:0;
	width:100%; height:100%;
}

body{
	font-family:  'NanumSquare', sans-serif; 
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	background:rgba(229, 229, 229, 0.4);
}

/*semantic tag*/
#wrap {
  /* min-height: 100vh;
  position: relative;
  width: 100%;  */
  
  /* height: auto;
  min-height: 100%;
  padding-bottom: 100px; */
  
	display: flex;
	min-height: 100vh;
	flex-direction: column;

}

header{
	background:white;
	height: 290px;
	width:1920px;
	padding:0px;
	margin:0px;
	
}

main{
	
	display: flex;
	width:1920px;
	height: 100%; /* 현재 메인영역 컨텐트 700 */
	flex-direction: column;
	
}

footer{ 
margin-top: 100px;
	background:#525252;
	height: 100px; 
	width: 1920px;
	bottom: 0px;
	/* position: relative; */
	display: flex;
	
}




/*----------body-header---------*/


#logo{
	display: inline-block;
	margin-left: 350px;
	margin-top: 60px;
	/* position: absolute;
	top: 50px;
	left: 400px;  */
	
}
/*상단 메뉴들의 배치*/
#menu{
	display : inline-block;
	margin-left: 130px;
}

/*두 메뉴 탭의 위치*/
.menutab{
	display : inline-block;
	margin : 20px;
	font-weight: bold;
}



.menutab_content{
	list-style: none;
	display: none;
} 



#login{
	position: absolute;
	left:1380px;
	top:50px;
}

#join{
	position: absolute;
	left:1500px;
	top:50px;
}

#loginSet{
	display:inline-block;
	position: absolute;
	left:1400px;
	top:50px;
	font-size:16px;
	font-weight: 500;
	
}


/*a 태그에 직접 속성 지정해야 함*/

a{	
	text-decoration:none;
}
a:link {
	color: black;
}  	
a:visited {
	color: black;
} 
a:hover{
	color: #FF1493;
}

#first_hr{
   margin-top: 20px;
	border: 1px solid #E5E5E5;
}

.search{
	display:flex;
	justify-content:center;
	margin:10px;
}
#searchBar{
	width: 900px;
	height: 45px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	font-size:20px;
	border-radius:10px;
	border: 3px solid #ADAAAA;
}

#searchbtn{
	border:none;
	background:white;
}

#pink_hr{

	width: 1920px;
	height: 3px;
	background-color: #FF008E;
	border:0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* ------- main (display: flex)-------*/



.movie_status{	/* 상영예정, 상영중, 상영종료 */
	text-align: center;
	/* display : block; */
	/* width: 1920px; */
	margin-top: 50px;
	
}

.movie_status li{
	list-style: none;
	display : inline-block;
	font-weight: bold;
}

.movie_status_content{
	margin-left: 350px;
	margin-right: 350px;
	justify-content: center;
}

.on_tab{
	border-bottom: solid 3px  #16003B;
	color:  #16003B;
}


.on_content{	/* 영화 컨텐츠 전체 적용 */
	width: 100%;
	height: 100%;
	background: #525252;
	color: white;
}


#movieEach{		/* 영화 하나씨 적용 - 거리 띄우기*/
	margin: 15px;
}

/* 영화컨텐츠 */
.poster{
	width: 220px;
	height:300px;
	border-radius: 10px;
	margin:20px;	
	
}

#movieEach_tr{		/* 영화 다음줄로 넘어가게 하기 */
	display: flex;
    flex-wrap: wrap;
}

/*layer-pop-up  */
.popup {
	position: fixed; /*팝업 전체를 콘텐츠보다 위로 띄움*/
    /*dimmed 영역이 콘텐츠가 길어질때 같이 길어지게 하기 위해 relative대신 fixed 사용. fixed는 뷰포트, 즉 현재 보이는 브라우저 화면 사이즈를 기준으로 하기 때문에 스크롤을 내려도 딤드 레이어가 노출됨*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.text_area {
	padding: 50px 30px 30px;
	text-align: center;
}

.btn_area {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	overflow: hidden; /*float 해제*/
	border-radius: 0px 0px 20px 20px;
}

.btn {
	float: left;
	width: 50%;
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	border: 0;
	
    /*button태그의 기본 속성 : box-sizing:border-box;
    따라서 기본적으로 width값 안에 border영역까지 포함됨*/
}
.btn .no {
	width: 50%;
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	border: 0;
} 

.btn:hover{
	background: pink;
	cursor: pointer;
}
	

.popup_dimmed {
	position: absolute; /*띄워줌*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: 0.3;
}

.popup_layer {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
	width: 800px;
	height: 500px;
	padding:30px;
	padding-bottom: 50px;
    margin: auto; 
    border-radius: 20px;
	background: #fff;
	z-index: 10;
}
/* 팝업 속 - 영화상세 정보 */

#L2{
	width: 500px;
    height: 80px;
    font-weight: bold;
    font-size: 24px;
}

#L3{
	width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
}


#L4{
	font-weight: bold;
	font-size: 16px;
}


#L5{
	font-weight: bold;
	font-size: 20px;
}


/* footer */
#footer_Content{
	font-size: 12px;
	margin-left: 400px;
}
