@charset "UTF-8";
body{
	font-family:  'NanumSquare', sans-serif; 
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	background:rgba(229, 229, 229, 0.4);
	margin: 0px;
}

/*semantic tag*/
#wrap {
  /* min-height: 100vh;
  position: relative;
  width: 100%;  */
  
  /* height: auto;
  min-height: 100%;
  padding-bottom: 100px; */
  
	display: flex;
	min-height: 100vh;
	flex-direction: column;

}

header{
	background:white;
	height: 290px;
	width:1920px;
	padding:0px;
	margin:0px;
	
}

#navmainWrap {
    display: flex;
    flex-direction: row;
}

nav{
	
	display: flex;
	width:400px;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	font-weight: bold;
	
}

main{
	
	display: flex;
	width:1220px;
	height: 100%;
	flex-direction: column;
	align-items: center;
	margin-left: 50px;
}

footer{ 
	margin-top: 100px;
	background:#525252;
	height: 100px; 
	width: 1920px;
	bottom: 0px;
	/* position: relative; */
	display: flex;
}




/*----------header---------*/


#logo{
	display: inline-block;
	margin-left: 350px;
	margin-top: 60px;
	/* position: absolute;
	top: 50px;
	left: 400px;  */
	
}
/*상단 메뉴들의 배치*/
#menu{
	display : inline-block;
	margin-left: 130px;
}
/*두 메뉴 탭의 위치*/
.menutab{
	display : inline-block;
	margin : 20px;
	font-weight: bold;
}


.menutab_content{
	list-style: none;
	display: none; 
} 


/*a 태그에 직접 속성 지정해야 함*/

a{	
	text-decoration:none;
}
a:link {
	color: black;
}  	
a:visited {
	color: black;
} 
a:hover{
	color: #FF1493;
}



#login{
	position: absolute;
	left:1380px;
	top:50px;
}

#join{
	position: absolute;
	left:1500px;
	top:50px;
}

#loginSet{
	display:inline-block;
	position: absolute;
	left:1400px;
	top:50px;
	font-size:16px;
	font-weight: 500;
	
}


span>a:link {
	font-size:10pt;
	color: rgba(0, 0, 0, 0.63);


}  	
span>a:visited {
	font-size:10pt;
	color: rgba(0, 0, 0, 0.63);


}  	
span>a:hover {
	font-size:10pt;
	color: #FF1493;
}


#first_hr{
   margin-top: 20px;
	border: 1px solid #E5E5E5;
}

.search{
	display:flex;
	justify-content:center;
	margin:10px;
}
#searchBar{
	width: 900px;
	height: 45px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	font-size:20px;
	border-radius:10px;
	border: 3px solid #ADAAAA;
}

#searchbtn{
	border:none;
	background:white;
}

#pink_hr{

	width: 1920px;
	height: 3px;
	background-color: #FF008E;
	border:0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




/*----------nav---------*/
/* .tab_title{
	position: absolute;
	top:250px;
	left:100px;
	list-style:none;
	font-weight: bold;
} */

.tab_title li{
	background: none;
	display: block;
	cursor: pointer;
	width:200px;
	margin: 10px;
}

.tab_title li:hover{
	background: #ededed;
 	color: #222;
}


.tab_title li.on{
  background: #ededed;
  color: #222;
  width: 200px;
}


/*단 나누기*/
#separate{
	border:solid 1px black;
	height: 600px;
	margin-top: 50px;	
}



/*----------main---------*/




/*tab 컨텐츠*/

.tab_content{
	margin-top: 50px;
}


/*tab2-영화조회/수정/삭제*/
div span{
	font-weight: bold;
}


.filmList{
	width: 1200px;
	margin-top: 20px;

	border-collapse : collapse;
	background: #FFFFFF;
	text-align: left;
	padding : 5px;
}

.filmList th{
	border-bottom: 3px solid #ADAAAA;
	text-align: center;
}

.filmList td{
	text-align: center;
}


.filmList tr:nth-child(even) {
background: #F9F3EE
}

/* 페이징 */

#paging{
	margin-top: 30px;
	text-align: center;
	width: 200px;
	height: 45px;
}


#searchK{
	text-align: center;
	width: 200px;
	height: 45px;
}











/* 영화삭제 확인용 레이어*/

.popup {
	
	position: fixed; /*팝업 전체를 콘텐츠보다 위로 띄움*/
    /*dimmed 영역이 콘텐츠가 길어질때 같이 길어지게 하기 위해 relative대신 fixed 사용. fixed는 뷰포트, 즉 현재 보이는 브라우저 화면 사이즈를 기준으로 하기 때문에 스크롤을 내려도 딤드 레이어가 노출됨*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.popup_layer {
	position: relative; /*z-index는 반드시 position:relative 속성 필요*/
	width: 300px;
	min-height: 150px; /*min-height로 되어있어서 텍스트가 길어짐에 따라 높이가 커짐*/
	padding-bottom: 50px; /*텍스트를 온전히 보이게 하기 위해 버튼 부분을 padding으로 밀어줌*/
	background: #fff;
	z-index: 10; /*dimmed보다 z-index 높힘*/
}

.text_area {
	padding: 50px 30px 30px;
	text-align: center;
}

.btn_area {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	overflow: hidden; /*float 해제*/
	border-radius: 0px 0px 20px 20px;
}

.btn {
	float: left;
	width: 50%;
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	border: 0;
	
    /*button태그의 기본 속성 : box-sizing:border-box;
    따라서 기본적으로 width값 안에 border영역까지 포함됨*/
}
.btn .no {
	width: 50%;
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	border: 0;
} 

.btn:hover{
	background: pink;
	cursor: pointer;
}
	

.popup_dimmed {
	position: absolute; /*띄워줌*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: 0.3;
}

.popup_layer {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
	width: 300px;
	height: 150px;
	padding-bottom: 50px;
    margin: auto; 
    border-radius: 20px;
	background: #fff;
	z-index: 10;
	
}

.btn:hover {
	background: pink;
	
}









/* footer */
#footer_Content{
	font-size: 12px;
	margin-left: 400px;
}
