@charset "UTF-8";
body{
	font-family:  'NanumSquare', sans-serif; 
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	background:rgba(229, 229, 229, 0.4);
	margin: 0px;
}

/*semantic tag*/
#wrap {
  /* min-height: 100vh;
  position: relative;
  width: 100%;  */
  
  /* height: auto;
  min-height: 100%;
  padding-bottom: 100px; */
  
	display: flex;
	min-height: 100vh;
	flex-direction: column;

}

header{
	background:white;
	height: 290px;
	width:1920px;
	padding:0px;
	margin:0px;
	
}

/* #navmainWrap {
    display: flex;
    flex-direction: row;
} */


main{
	
	display: flex;
	width:1220px;
	height: 100%; /* 현재 메인영역 컨텐트 700 */
	flex-direction: column;
	align-items: flex-start;
	margin-left: 700px;
}

footer{ 
	margin-top: 100px;
	background:#525252;
	height: 100px; 
	width: 1920px;
	bottom: 0px;
	/* position: relative; */
	display: flex;
	
}



/*----------header---------*/


#logo{
	display: inline-block;
	margin-left: 350px;
	margin-top: 60px;
	/* position: absolute;
	top: 50px;
	left: 400px;  */
	
}
/*상단 메뉴들의 배치*/
#menu{
	display : inline-block;
	margin-left: 130px;
}
/*두 메뉴 탭의 위치*/
.menutab{
	display : inline-block;
	margin : 20px;
	font-weight: bold;
}


.menutab_content{
	list-style: none;
	display: none; 
} 


/*a 태그에 직접 속성 지정해야 함*/

a{	
	text-decoration:none;
}
a:link {
	color: black;
}  	
a:visited {
	color: black;
} 
a:hover{
	color: #FF1493;
}



#login{
	position: absolute;
	left:1380px;
	top:50px;
}

#join{
	position: absolute;
	left:1500px;
	top:50px;
}

#loginSet{
	display: inline-block;
	position: absolute;
	left:1400px;
	top:50px; 
	
	font-size:16px;
	font-weight: 500;
}


span>a:link {
	font-size:10pt;
	color: rgba(0, 0, 0, 0.63);


}  	
span>a:visited {
	font-size:10pt;
	color: rgba(0, 0, 0, 0.63);


}  	
span>a:hover {
	font-size:10pt;
	color: #FF1493;
}


#first_hr{
   margin-top: 20px;
	border: 1px solid #E5E5E5;
}

.search{
	display:flex;
	justify-content:center;
	margin:10px;
}
#searchBar{
	width: 900px;
	height: 45px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	font-size:20px;
	border-radius:10px;
	border: 3px solid #ADAAAA;
}

#searchbtn{
	border:none;
	background:white;
}

#pink_hr{

	width: 1920px;
	height: 3px;
	background-color: #FF008E;
	border:0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}






/*----------main---------*/
.welcome{
	/* position:absolute;
	top:330px;
	left:700px;	 */
	margin-top: 100px;
	margin-bottom: 50px;

}

#welcome{
	font-family: 'Permanent Marker';
	font-style: normal;
	font-size: 32px;
	line-height: 35px;
}

/*로그인양식*/


input[type=text]{
	border: none;
	height:40px;
	font-size:16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type=password]{
	border: none;
	height:40px;
	font-size:16px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.wrapper {
	text-align :right; 
	
}

#bt{
	padding: 10px;
	border-radius: 10px; 
	border:none;
	background: #FF008E;
	width: 100px;
	height: 40px;
	font-size: 1rem;
}

#bt:hover{
	cursor: pointer;
	background-color:#FFC7C7;

}

#info{
	/* position: absolute;
	top:550px;
	left:700px; */
	margin-top: 100px;
	margin-bottom: 50px;
	color:5a5a5a;
}

div>a:link {
	font-size:10pt;
	color: rgba(0, 0, 0, 0.63);


}  	
div>a:visited {
	font-size:10pt;
	color: rgba(0, 0, 0, 0.63);

}  	
div>a:hover {
	font-size:10pt;
	color: #FF1493;
}






/* footer */
#footer_Content{
	font-size: 12px;
	margin-left: 400px;
}